<a href="https://colab.research.google.com/github/jessy-suresh/PRACTICE-QUESTIONS-MACHINE-LEARNING/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kagglehub pandas nltk spacy scikit-learn matplotlib seaborn
!python -m spacy download en_core_web_sm

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.13)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.12/dist-packages (3.9.1)
Requirement already satisfied: spacy in /usr/local/lib/python3.12/dist-packages (3.8.11)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.12/dist-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.12/dist-packages (from nltk) (2025.11.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.12/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.12/dist-packages (from spacy) (1.0.15)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.12/dist-packages (from spacy) (2.0.13)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.12/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.4.0,>=8.3.4 in /usr/local/lib/python3.12/dist-packages (from spacy) (8.3.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.12/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.12/dist-packages (from spacy) (2.5.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.12/dist-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.5.0,>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from spacy) (0.4.3)
Requirement already satisfied: typer-slim<1.0.0,>=0.3.0 in /usr/local/lib/python3.12/dist-packages (from spacy) (0.21.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /usr/local/lib/python3.12/dist-packages (from spacy) (2.12.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from spacy) (3.1.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from spacy) (75.2.0)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.3.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.41.4)
Requirement already satisfied: typing-extensions>=4.14.1 in /usr/local/lib/python3.12/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2026.1.4)
Requirement already satisfied: blis<1.4.0,>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from thinc<8.4.0,>=8.3.4->spacy) (1.3.3)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.12/dist-packages (from thinc<8.4.0,>=8.3.4->spacy) (0.1.5)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from weasel<0.5.0,>=0.4.2->spacy) (0.23.0)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in /usr/local/lib/python3.12/dist-packages (from weasel<0.5.0,>=0.4.2->spacy) (7.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->spacy) (3.0.3)
Requirement already satisfied: wrapt in /usr/local/lib/python3.12/dist-packages (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.4.2->spacy) (2.0.1)
Collecting en-core-web-sm==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 108.1 MB/s eta 0:00:00
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

In [7]:
import kagglehub
import pandas as pd
import os

path = kagglehub.dataset_download("imtkaggleteam/netflix")
print("Dataset path:", path)

csv_file = [f for f in os.listdir(path) if f.endswith(".csv")][0]
df = pd.read_csv(os.path.join(path, csv_file))

print(df.columns)
df.head()
#import the dataset into colab

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/imtkaggleteam/netflix?dataset_version_number=1...

100%|██████████| 1.17M/1.17M [00:00<00:00, 89.4MB/s]

Extracting files...
Dataset path: /root/.cache/kagglehub/datasets/imtkaggleteam/netflix/versions/1
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'description'],
      dtype='object')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,3-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [8]:
docs = df["description"].dropna().astype(str).tolist()
print("Total descriptions:", len(docs))

Total descriptions: 7787

In [9]:
selected_docs = [d for d in docs if 200 <= len(d.split()) <= 500][:5]

print("Selected docs:", len(selected_docs))
print(selected_docs[0][:400])

Selected docs: 0

IndexError: list index out of range

In [10]:
combined_docs = []
current_doc = ""

for desc in docs:
    if len(current_doc.split()) < 200:
        current_doc += " " + desc
    else:
        if 200 <= len(current_doc.split()) <= 500:
            combined_docs.append(current_doc.strip())
        current_doc = desc

# Ensure we only take 5
selected_docs = combined_docs[:5]

print("Selected docs:", len(selected_docs))
print("Word count of first doc:", len(selected_docs[0].split()))
print(selected_docs[0][:500])

Selected docs: 5
Word count of first doc: 227
In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor. An architect and his wife move into a castle that is slated to become a luxury hotel. But something inside is determined to stop the renovation. Three Indonesian women break records by becoming the first of their nation to medal in archery at the Seoul Olympics in the summer of 1988. New NFL star Thad buys his old teammates' beloved frat house, renames it Thadl

In [11]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z\s]', ' ', text)
    return re.sub(r'\s+', ' ', text).strip()

cleaned_docs = [clean_text(doc) for doc in selected_docs]

print("CLEANED SAMPLE:\n")
print(cleaned_docs[0][:500])

CLEANED SAMPLE:

in a future where the elite inhabit an island paradise far from the crowded slums you get one chance to join the saved from squalor an architect and his wife move into a castle that is slated to become a luxury hotel but something inside is determined to stop the renovation three indonesian women break records by becoming the first of their nation to medal in archery at the seoul olympics in the summer of new nfl star thad buys his old teammates beloved frat house renames it thadland and throws

In [12]:
import nltk
nltk.download('punkt')

token_lists = [nltk.word_tokenize(doc) for doc in cleaned_docs]

print("TOKENS SAMPLE:\n")
print(token_lists[0][:25])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/root/nltk_data'
    - '/usr/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

In [13]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [14]:
token_lists = [nltk.word_tokenize(doc) for doc in cleaned_docs]
print(token_lists[0][:25])

['in', 'a', 'future', 'where', 'the', 'elite', 'inhabit', 'an', 'island', 'paradise', 'far', 'from', 'the', 'crowded', 'slums', 'you', 'get', 'one', 'chance', 'to', 'join', 'the', 'saved', 'from', 'squalor']

In [15]:
from nltk.stem import PorterStemmer, WordNetLemmatizer
nltk.download('wordnet')

stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

sample_words = token_lists[0][:15]

comparison = [(w, stemmer.stem(w), lemmatizer.lemmatize(w)) for w in sample_words]

import pandas as pd
pd.DataFrame(comparison, columns=["Original", "Stemmed", "Lemmatized"])

[nltk_data] Downloading package wordnet to /root/nltk_data...

    Original  Stemmed Lemmatized
0         in       in         in
1          a        a          a
2     future    futur     future
3      where    where      where
4        the      the        the
5      elite     elit      elite
6    inhabit  inhabit    inhabit
7         an       an         an
8     island   island     island
9   paradise  paradis   paradise
10       far      far        far
11      from     from       from
12       the      the        the
13   crowded    crowd    crowded
14     slums     slum       slum

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
tf_matrix = cv.fit_transform(cleaned_docs)

tf_df = pd.DataFrame(tf_matrix.toarray(), columns=cv.get_feature_names_out())
tf_df.iloc[:, :10]

,accepts,accompanies,activist,actor,admirer,adventures,agent,ago,aid,alien
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,1,1
2,1,0,1,0,0,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,0
4,0,0,0,3,0,0,1,0,0,0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(cleaned_docs)

idf_values = dict(zip(tfidf.get_feature_names_out(), tfidf.idf_))
idf_df = pd.DataFrame(idf_values.items(), columns=["Word", "IDF"]).sort_values(by="IDF", ascending=False).head(10)

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

idf_df.head(), tfidf_df.iloc[:, :10]

(            Word       IDF
 536         zone  2.098612
 0        accepts  2.098612
 1    accompanies  2.098612
 2       activist  2.098612
 3          actor  2.098612,
     accepts  accompanies  activist     actor   admirer  adventures     agent  \
 0  0.000000     0.000000  0.000000  0.000000  0.000000     0.00000  0.000000
 1  0.000000     0.000000  0.000000  0.000000  0.000000     0.08257  0.000000
 2  0.087712     0.000000  0.087712  0.000000  0.000000     0.00000  0.000000
 3  0.000000     0.091852  0.000000  0.000000  0.091852     0.00000  0.000000
 4  0.000000     0.000000  0.000000  0.257327  0.000000     0.00000  0.085776

        ago      aid    alien
 0  0.00000  0.00000  0.00000
 1  0.08257  0.08257  0.08257
 2  0.00000  0.00000  0.00000
 3  0.00000  0.00000  0.00000
 4  0.00000  0.00000  0.00000  )

In [18]:
bigram_vec = CountVectorizer(ngram_range=(2,2), stop_words='english')
bigram_matrix = bigram_vec.fit_transform(cleaned_docs)

bigram_freq = pd.DataFrame(
    bigram_matrix.sum(axis=0).A1,
    index=bigram_vec.get_feature_names_out(),
    columns=["Frequency"]
).sort_values(by="Frequency", ascending=False).head(10)

bigram_freq

                   Frequency
bo burnham                 2
party school               1
past artist                1
past unhinges              1
patent frequency           1
path team                  1
phenomenon legacy          1
phone politician           1
parents oppose             1
place stint                1

In [19]:
import spacy
nlp = spacy.load("en_core_web_sm")

pos_counts = {}

for doc in cleaned_docs:
    for token in nlp(doc):
        pos_counts[token.pos_] = pos_counts.get(token.pos_, 0) + 1

pos_df = pd.DataFrame(pos_counts.items(), columns=["POS", "Count"]).sort_values(by="Count", ascending=False)
pos_df

      POS  Count
2    NOUN    308
4    VERB    146
0     ADP    141
1     DET    121
6     ADJ    104
7    PRON     79
12  PROPN     61
10  CCONJ     41
9    PART     33
5     ADV     29
11    AUX     16
3   SCONJ     15
8     NUM     10

In [20]:
from collections import Counter

all_tokens = [word for doc in token_lists for word in doc]
counts = Counter(all_tokens)
total = sum(counts.values())
vocab = len(counts)

prob_data = []
for word in list(counts.keys())[:10]:
    unsmoothed = counts[word] / total
    smoothed = (counts[word] + 1) / (total + vocab)
    prob_data.append((word, unsmoothed, smoothed))

prob_df = pd.DataFrame(prob_data, columns=["Word", "Unsmoothed P", "Smoothed P"])
prob_df

       Word  Unsmoothed P  Smoothed P
0        in      0.019022    0.012754
1         a      0.046196    0.030145
2    future      0.001812    0.001739
3     where      0.001812    0.001739
4       the      0.046196    0.030145
5     elite      0.000906    0.001159
6   inhabit      0.000906    0.001159
7        an      0.011775    0.008116
8    island      0.001812    0.001739
9  paradise      0.000906    0.001159